footer{
    margin-top: 25vh;
    height: 150px;
    background-color: $negroer;
    color: $bcoer;
    .redesPropias{
        color: $bcoer;
        font-size: 2rem;
        display: inline-block;
        position: relative;
        margin: 25px;
    }
}