@import "reset";
@import "variables";

.container-fluid-videos{
    .nuestrosServicios{
        display: flex;
        flex-direction: row;
            justify-content: center;
            align-items: center;
            color: $bcoer;
            background-color: $negroer;
            border-top-right-radius: 30px;
            height: 85px;
            font-weight: bold;
    }
    .mainVideos{
        .videoss{
            background-color: $negroer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .tituloVideos{
                color: $bcoer;
                margin-top: $pad*2;
                font-weight: bold;
                font-size: 2rem;
            }
            .mensajeWwr{
                color: $bcoer;
                font-size: 1.5rem;
                line-height: normal;
                text-align: center;
            }
        }
        .card{
            background-color: $negroer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            card-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .tituloPais{
                color: $bcoer;
                font-size: 1.2rem;
                margin-top: 10px;
            }
        }
    }
}
@media screen and (max-width:768px){
    .container-fluid{
        .mainVideos{
            .videoss{
                .mensajeWwr{
                    font-size: 1.3rem;
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .container-fluid{
        .mainVideos{
            .videoss{
                .tituloVideos{
                    font-size: 1.8rem;
                }
                .mensajeWwr{
                    color: $bcoer;
                    font-size: 1.4rem;
                    line-height: normal;
                    text-align: center;
                }
            }
            .card{
                div{
                    .iframeVideos{
                        width: 400px;
                    }
                }

            }
        }
    }
}



