.sectionIntro{
    h1, h2{
        color: $bcoer;
        text-align: center;
        margin: 20px;
        padding: 10px;
    }
    p{
        color: $bcoer;
        text-align: center;
        font-size: 1.2rem;
    }
    .imagenSomos{
        margin: 40px;
        padding: 10px;
        border: 10px solid $grisrecuadro;
        opacity: .60;
        &:hover{
            opacity: 1;
        }
    }
}